<header>
    <nav class="center-header">
        <a class="nav-btn" id="profile-btn">
            <i class='bx bx-user-circle'></i>
        </a>

        <div class="change-view">
            <a href="/" class="nav-btn">
                <i class='bx bx-map-alt'></i>
            </a>
            <a href="/lista-de-eventos" class="nav-btn">
                <i class='bx bx-list-ul' ></i>
            </a>
        </div>
    </nav>
</header>