<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entre ou cadastre-se</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/page-forms.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <div class="center-header">
            <span>Criar uma conta</span>
            <a href="/" class="change-view">
                <i class='bx bx-map-alt'></i>
            </a>
        </div>
    </header>

    <main class="page-forms">


            <form>

                <h1>Entre ou cadastre-se</h1>

                <label for="name">Nome</label>
                <i class='bx bxs-user' ></i>
                <input type="text" name="name" id="name" placeholder="Digite seu nome">
                <label for="email">Email</label>
                <i class='bx bx-mail-send'></i>
                <input type="email" name="email" id="email" placeholder="email@example.com">
                <label for="pwd">Senha</label>
                <i class='bx bx-lock'></i>
                <input type="password" name="pwd" id="pwd" placeholder="********">
                <a href="/login">Ou entre em uma conta já existente</a>
                <button>Criar conta</button>
                
            </form>

    </main>

</body>
</html>