<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entre ou cadastre-se</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/page-forms.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    
    <%- include ('partials/header.ejs')%>

    <main class="page-forms">

        <div class="form">
    
            <form>

                <h1>Entre ou<br> cadastre-se</h1>

                <label for="name">Nome</label>
                <i class='bx bx-user'></i>
                <input type="text" name="name" id="name" placeholder="Digite seu nome">

                <label for="email">Email</label>
                <i class='bx bx-mail-send'></i>
                <input type="email" name="email" id="email" placeholder="email@example.com">

                <label for="pwd">Senha</label>
                <i class='bx bx-lock'></i>
                <input type="password" name="pwd" id="password" placeholder="********">
                
            </form>
            
            <a href="/entrar">Ou entre em uma conta já existente</a>
            <button id="register">Criar conta</button>

        </div>

    </main>

    <%- include('partials/firebase.ejs') %>
    <script src="/scripts/page-sign-up.js"></script>
</body>
</html>